#container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#container_body {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}


#times_up {
    opacity: 0;
}

#timer > span {
    text-align: center;
    width: 1.5rem;
}

#score {
    position: absolute;
    left: 50%;
    font-size: 3rem;
    transform: translate(-50%, -50%);
}

#timer, #times_up {
    position: absolute;
    left: 50%;
    font-size: 2rem;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media (max-width:1200px){
    #score {
        top: 2.5rem;
    }
    #timer, #times_up {
        top: 5.5rem;
    }
}

@media (min-width:1200px){
    #score {
        top: 1.5rem;
    }
    #timer, #times_up {
        top: 4.5rem;
    }
}