#container_guess {
    display: flex;
    align-items: center;
    justify-content: center;
}


#container_guess > input {
    width: 400px;
    aspect-ratio: 5;
    font-size: 3rem;
}


#container_guess > input::placeholder {
    color: black;
    opacity: 0.5;
}