.container_password_input {
    position: relative;
    z-index: 2;
}


.container_password_input > input {
    width: 100%;
    height: 100%;
}


#icon_view_password, #icon_cant_view_password {
    height: 35%;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translate(50%, -50%);
    transition: 0.1s ease-out;
    user-select: none;
}


#icon_view_password:hover, #icon_cant_view_password:hover {
    cursor: pointer;
    transform: translate(50%, -50%) scale(1.2);
}