#container_register {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    overflow: scroll;
    z-index: 2;
}


#container_register > input, #container_register > div {
    margin-bottom: 20px;
    margin-top: 5px;
    max-width: 80%;
}


#container_register > button {
    margin-top: 40px;
}



@media (max-height:700px) {
	#container_register {
		justify-content: start;
	  }
}

@media (min-height:700px) {
	#container_register {
		justify-content: center;
	  }
}