#container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#container_body {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}


#timer, #times_up {
    position: fixed;
    top: calc(35px + 3rem);
    left: 50%;
    font-size: 3rem;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#times_up {
    opacity: 0;
}

#timer > span {
    text-align: center;
    width: 1.5rem;
}

#score {
    position: fixed;
    top: 35px;
    left: 50%;
    font-size: 3rem;
    transform: translate(-50%, -50%);
}