@font-face {
  font-family: 'gfont_Poppins_ExtraBoldItalic';
  src: url('../assets/fonts/Poppins/Poppins-ExtraBoldItalic.ttf');
} 

:root {
  font-family: 'gfont_Poppins_ExtraBoldItalic', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  user-select: none;

  color: #0f0f0f;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


body {
  margin: 0;
  padding: 0;
  position: relative;
}

#app {
  width: 100vw;
  height: 100vh;
}

button, span {
  font-family: 'gfont_Poppins_ExtraBoldItalic', sans-serif;
  font-size: 32px;
  line-height: 24px;
  font-weight: 400;
  box-sizing: border-box;
}

button {
  padding: 0.5rem;
}

button:hover {
  cursor: pointer;
}


button, span, input {
  z-index: 1;
}

