#container_background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;
}



.row {
    width: 110%;
    position: relative;
    left: -5%;
    display: flex;
    flex-direction: row;
}


.circle {
    aspect-ratio: 1;
    flex-grow: 1;
    overflow: hidden;
    background:
    radial-gradient(50% 50% at 50% 50%, #FAEED1 0%  5% ,#DED0B6 6%  15%,#FAEED1 16% 25%,#DED0B6 26% 35%,#FAEED1 36% 45%,
    #DED0B6 46% 55%,#FAEED1 56% 65%,#DED0B6 66% 75%,#FAEED1 76% 85%,#DED0B6 86% 95%,
    #0000 90%);
    background-repeat: no-repeat;
    transition: 0.1s ease-out;
}

.circle:hover {
    transform: scale(1.45);
}
