
#container_leaderboard {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    gap: 5%;
}

#back_button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
}


#leaderboard_top {
    width: 90%;
}


#leaderboard_body {
    position: relative;
    flex-grow: 1;
    width: 100%;
    border-radius: 20px;
    background-color: #fef6e3;
    border: 5px solid #ab9973;
    overflow: scroll;
}



@media (min-width:1200px){
    #container_leaderboard {
        width: 75%;
    }
    #leaderboard_top {
        width: 90%;
    }
}


@media (max-width:1200px){
    #container_leaderboard {
        width: 90%;
    }
    #leaderboard_top {
        width: 100%;
    }
}


#container_4prop, #container_guess {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#container_4prop > div, #container_guess > div {
    display: flex;
    flex-direction: row;
    gap: 20px;
}


#container_guess {
    opacity: 0;
}