#container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#container_body {
    flex-grow: 1;
    position: relative;
}

#container_body > div {
    z-index: 1;
}




#FourProp, #Guess {
    width: 90%;
    height: auto;
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translate(-50%, 50%);
}


#score {
    position: absolute;
    left: 50%;
    text-align: center;
    width: 100%;
    font-size: 3rem;
    transform: translate(-50%, -50%);
}

#life {
    position: absolute;
    left: 50%;
    font-size: 2rem;
    transform: translate(-50%, -50%);
}


@media (max-width:1200px){
    #score {
        top: 2.5rem;
    }

    #life {
        top: 5.5rem;
    }

    #container_word_to_guess > span {
        width: max-content;
        font-size: 5rem;
    }

    #container_word_to_guess {
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (min-width:1200px){
    #score {
        top: 1.5rem;
    }

    #life {
        top: 4.5rem;
    }

    #container_word_to_guess > span {
        width: max-content;
        font-size: 7rem;
    }

    #container_word_to_guess {
        position: fixed;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}